form(action="" class="vmain-form")
	input(type="text" placeholder="Имя")
	input(type="email" placeholder="E-mail")
	input(type="text" placeholder="Телефон")
	button.vbtn.vbtn-effect-bounce-top.vbtn-corp Зарегистрироваться