.text{
	&-title{
		@extend .bold;
	}
	&-block{
		p:not(:last-child){
			margin-bottom: 20px;
		}
	}
	@include resp-min(sm){
		&-title{
			font-size: 20px;
		}
	}
	@include resp-min(md){
		&-title{
			font-size: 24px;
			line-height: 38px;
		}
	}
}
.color{
	&-red{
		color: setColor(red);
	}
}
.man{
	&-name{
		font-size: 25px;
	}
	&-quote{
		color: #2b306b;
		font-size: 20px;
	}
	&-tagline{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	&-wrap,
	&-img-inner{
		font-size: 0;
	}
	&-img{
		display: block;
		margin-top: 30px;
		&-inner{
			display: block;
			
		}
	}
	@include resp-max(sm){
		max-height: 300px;
		&-do,
		&-name{
			margin-top: 15px;
		}
		&-img-inner{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	@include resp-min(sm){
		&-name{
			font-size: 36px;
		}
		
		&-do{
			margin-top: 20px;
		}
		&-quote{
			font-size: 25px;
		}
		&-img{
			margin-top: 40px;
			&-inner{
				display: inline-block;
				vertical-align: middle;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		@include resp-max(md){
			&-img-inner{
				margin-right: 15px;
			}
		}
	}
	@include resp-min(md){
		&-img{
			&-inner{
				margin-right: 30px;
			}
		}
		@include resp-max(lg){
			&-img{
				&-inner{
					margin-right: 15px;
					max-width: 20%;
				}
			}
		}
	}
	@include resp-min(lg){
		&-do{
			margin-top: 44px;
		}
		&-tagline{
			margin-bottom: 35px;
		}
		&-quote{
			font-size: 30px;
			line-height: 52px;
		}
	}
}
.case{
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 0;
	}
	p:not(.case-title){
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&-title{
		font-size: 18px;
		margin-bottom: 15px;
		@extend .bold;
	}
	@include resp-min(md){
		margin-bottom: 40px;
		&-title{
			font-size: 20px;
			margin-bottom: 20px;
			
		}
	}
	@include resp-min(lg){
		&-title{
			padding-right: 40px;
		}
	}
}
.social{
	font-size: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	&-inner{
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		margin-right: 20px;
	}
	@include resp-min(sm){
		margin-top: 50px;
		margin-bottom: 50px;
	}
}